*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background-color: rgb(183, 182, 181);
  margin: 0;
  padding: 0;

}
nav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(11, 11, 52);
  color: white;
  position: fixed;
  top: 0%;
  width: 100%;
}

.logo{
  margin-left: 15px;
  font-size: 20px;
}
nav ul{
  display: flex;
  align-items: center;
  margin-right: 15px;

}


ul li{
  list-style: none;

}
ul li a{
  text-decoration: none;
  margin-inline: 20px;
  color: white;
  font-size: 21px;

}
ul li a:hover, ul li a.active{
  color: rgb(255, 221, 0);
  font-weight: 700;
}
.icon{
  display: none;
  align-items: center;
  font-size: 30px;
  margin-right: 12px;
}

/*main section*/
.main{
  display: flex;
  justify-content: center;
  margin-top: 155px;


}
.mainText h1{
  font-size: 55px;
  color: rgb(6, 20, 52);

}
.mainText h2{
  font-size: 33px;
}
.mainText button{
  width: 120px;
  height: 34px;
  background-color: rgb(13, 11, 86);
  color: white;
  font-size: 18px;
  border: none;
}
.mainText button:hover{
  border: 2px solid blue;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.main img{
  width: 350px;
  
  padding-left: 380px;
  border-radius: 2px;
  

}
.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.cards .crd{
  margin-inline: 22px;
  text-align: center;

}
.crd i{
  color: rgba(246, 169, 26, 0.913);
  position: relative;
  margin-top: -11px;
}
.crd h3{
  
  margin-top: 3px;
}
.crd img{
  width: 300px;
  height: 340px;


}
.head{
padding: 65px;
text-align: center;
}
.head span{
color: rgb(255, 115, 0);
}
.reviews{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 25px;

}
.reviews .rCard{
width: 300px;
height: 320px;
background-color: rgb(58, 53, 71);
text-align: center;
padding: 16px;
color: white;
border-radius: 5px;
margin-inline: 20px;


}
.rCard img{
  width: 35%;
  border-radius: 50%;
}
.rCard button{
  width: 90px;
  height: 30px;
  background-color: rgb(203, 203, 203);
  color: black;
  font-weight: bold;
  border: none;
  font-size: 13px;
  margin-top: 10px;

}

.rCard:hover{
  background-color:black ;
  transition: 1s ease;
  cursor: pointer;
}

.blog{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.blog .blogCard{
  width: 300px;
  height: 340p;
  background-color: white;
  padding: 11px;
  border-radius: 5px;
  margin-inline: 22px;
  text-align: center;
  color: black;
  font-weight: bold;
  
}
.blogCard img{
  width: 100%;
  height: 350px;
  border-radius: 5px;


}
.blogCard a{
padding: 4px 20px;
background-color: rgb(21, 58, 158);
color: white;
font-size: 15px;
text-decoration: none;


}

.blogCard:hover{
  transition: 1s ease;
background-color: rgb(25, 7, 65);
color: white;
cursor: pointer;




}

.connect{
  text-align: center;


}
.connect input{
  width: 380px;
  padding: 8px;
  font-size: 18px;
  background-color: transparent;
  margin-top: 11px;
  border: 2px solid black;
}
.connect button{
  width: 130px;
  height: 36px;
  background-color: rgb(25, 25, 66);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  margin-top: 22px;
  cursor: pointer;

}
.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 44px;
  background-color: black;
  color: white;
  margin-top: 33px;

}

/* itemPage*/
.itemPage{
  
  margin-top: 33px;
  margin-left: 25px;
  display: none;

}
.itemPage img{
  width: 370px;

}
.itemPage .itemText{
  margin-inline: 26px;
}
.itemText h2{
  color: rgb(18, 135, 7);

}
.itemPage input{
  width: 30px;
  padding: 6px;
  font-size: 20px;
}
.itemText a{
  padding: 4px 20px;
  background-color: orange;
  color: black;
  font-size: 18px;
  text-decoration: none;
}

/* buy page*/

.buyPage{
  display: none;
  width: 40%;
  background-color: white;
  padding: 22px;
  
  position: absolute;
  left: 26%;
  top: -13%;
  border-radius: 4px;
  transform: translate(-40%, 40%);



}

.buyPage .cross{
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgb(142, 141, 141);
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;


}
.buyText input{
width: 95%;
padding: 7px;
border: 2px solid black;
margin-top: 8px;
font-size: 18px;
  
}
.buyText button{
  width: 120px;
  height: 34px;
  background-color: rgba(12, 12, 96, 0.889);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  margin-top: 22px;


}
.buyText select{
  padding: 4px;
  font-size: 18px;
}






























/* Responsive design  */
@media only screen and (max-width:695px){
   nav ul{
    display: none;
  }
.icon{
  display: flex;
  cursor: pointer;
}
.showData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 58px;
  background-color: rgb(80, 77, 77);
  width: 100%;
  text-align: center;
  gap: 20px;
  padding: 0%;
  height: 240px;
}
.mainText h1{
  
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 29px;
}
.mainText h2{
  font-size: 20px;
  text-align: center;
}
.mainText p{
  font-size: 15px;
}
.mainText button{
  width: 100px;
  font-size: 15px;
}

.crd img{
  width: 73%;
}
.connect input{
  width: 65%;

}

}
/*for only main section */

@media only screen and (max-width:1000px){
  .main{
    display: block;
    text-align: center;
  }
  .main img{
    margin-top: 20px;
    width: 230px;
    padding-left: 25px;
    padding-right: 20px;
    align-items: center;
    border-radius: 3px;
    
  }


}


@media only screen and (max-width:400px){
   nav ul{
    display: none;
  }
.icon{
  display: flex;
  cursor: pointer;
}
.showData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 58px;
  background-color: rgb(80, 77, 77);
  width: 100%;
  text-align: center;
  gap: 20px;
  padding: 0%;
  height: 240px;
}
.mainText h1{
  
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}
.mainText h2{
  font-size: 15px;
  text-align: center;
}
.mainText p{
  font-size: 13px;
}
.mainText button{
  width: 100px;
  font-size: 10px;
}

.crd img{
  width: 70%;
}
.connect input{
  width: 60%;

}

}